// Section Horizontal Paddings
.section-horizontal-paddings {
    padding-left: $section-horizontal-padding;
    padding-right: $section-horizontal-padding;

    &-left {
        padding-left: $section-horizontal-padding;
    }

    &-right {
        padding-right: $section-horizontal-padding;
    }

    // Section Horizontal Paddings Tiny
    &-tiny {
        padding-left: $section-horizontal-padding-tiny;
        padding-right: $section-horizontal-padding-tiny;

        &-left {
            padding-left: $section-horizontal-padding-tiny;
        }

        &-right {
            padding-right: $section-horizontal-padding-tiny;
        }
    }

    // Section Horizontal Paddings Small
    &-small {
        padding-left: $section-horizontal-padding-small;
        padding-right: $section-horizontal-padding-small;

        &-left {
            padding-left: $section-horizontal-padding-small;
        }

        &-right {
            padding-right: $section-horizontal-padding-small;
        }
    }

    // Section Horizontal Paddings Large
    &-large {
        padding-left: $section-horizontal-padding-large;
        padding-right: $section-horizontal-padding-large;

        &-left {
            padding-left: $section-horizontal-padding-large;
        }

        &-right {
            padding-right: $section-horizontal-padding-large;
        }
    }
}

// Section Vertical Paddings
.section-vertical-paddings {
    padding-top: $section-vertical-padding;
    padding-bottom: $section-vertical-padding;

    &-top {
        padding-top: $section-vertical-padding;
    }

    &-bottom {
        padding-bottom: $section-vertical-padding;
    }

    // Section Vertical Paddings Tiny
    &-tiny {
        padding-top: $section-vertical-padding-tiny;
        padding-bottom: $section-vertical-padding-tiny;

        &-top {
            padding-top: $section-vertical-padding-tiny;
        }

        &-bottom {
            padding-bottom: $section-vertical-padding-tiny;
        }
    }

    // Section Vertical Paddings Small
    &-small {
        padding-top: $section-vertical-padding-small;
        padding-bottom: $section-vertical-padding-small;

        &-top {
            padding-top: $section-vertical-padding-small;
        }

        &-bottom {
            padding-bottom: $section-vertical-padding-small;
        }
    }

    // Section Vertical Paddings Large
    &-large {
        padding-top: $section-vertical-padding-large;
        padding-bottom: $section-vertical-padding-large;

        &-top {
            padding-top: $section-vertical-padding-large;
        }

        &-bottom {
            padding-bottom: $section-vertical-padding-large;
        }
    }
}

// Flush
.flush {
    margin: 0 !important;
    padding: 0 !important;
}

@include breakpoint-nucleus(mobile-only) {
    .flush-mobile {
        margin: 0 !important;
        padding: 0 !important;
    }
}

// no-(margin/padding)-(left/right/top/bottom)
$css_properties: "margin", "padding";
$css_directions: "left", "right", "top", "bottom", "all";
@each $prop in $css_properties {
    @each $dir in $css_directions {
        .no-#{$prop}-#{$dir} {
            & {
                @if ($dir != "all") {
                    #{$prop}-#{$dir}: 0 !important;
                } @else {
                    #{$prop}: 0 !important;
                }
            }
        }
    }
}
